*{ 
    margin: 0;
   
}
/* haeder and navigation styles */
header{
    background-color: antiquewhite;
   margin: 0px 50px 100px 80px;
   padding:  0px ;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}

.nav-title{
    font-weight: 800;
    font-size: 35px;
    margin: 10px 500px 20px 200px;
}
nav ul{
    display: flex;
    margin:10px 1000px 10px 100px ;
   

  
}
nav li{
    list-style: none;
    margin-left: 20px;
   
}
.banner{
    text-align: center;
    margin: 0px 200px 400px 400px;
    background-color: antiquewhite;
    height: 500px;
    width: 1000px;
    display: block;
    
}
button{
    margin: 10px;
    padding: auto;
    height: 50px;
    background-color: rgba(250, 90, 10, 0.891);
    border: none;
    border-radius: 5px;
}

img{
    height: 500px;
    width: 1000px;
}

.images{
    margin: 0px;
    
    
    
   
    
}
.mio{
    height: 200px;
    width: 200px;
    margin-left: 500px;

}

.mioo{
    height: 200px;
    width: 200px;
    
}

.miooo{
    height: 200px;
    width: 200px;
    margin-left: 500px;
}
.mioooo{
    height: 200px;
    width: 200px;

}
.hlw{
    position: absolute;
    width: 537px;
    height: 304px;
    left: 1082px;
    top: 1209px;

}
 
.text-primary{
    color: coral;

}
.hi{
    position: absolute;
    width: 507px;
    height: 34px;
    left: 1082px;
    top: 1309px;

}
.bttn{
    margin: 0px 100px 100px 1100px;
    
    padding: auto;
    height: 50px;
    background-color: rgba(250, 90, 10, 0.891);
    border: none;
    border-radius: 5px;
    

}


.ar{
    position: absolute;
width: 500px;
height: 800px;
right: 500px;
top: 1700px;

}
.extra{
    
    
   width: 500px;
   
   padding: 10px;
   margin: 100px 200px 800px 400px ;
 
   
}

.h{
    background-color:aliceblue;
    

      
   width: 500px;
   height: 100px;
   border: 1px solid rgb(182, 176, 176);
   padding: 10px;

   box-shadow: 10px 10px lightcyan;
   justify-content: space-between;
   color: rgb(37, 36, 36);
   
    
  


}

.hh{
    background-color:aliceblue;
    width: 500px;
   height: 100px;
   border: 1px solid rgb(218, 196, 196);
   padding: 10px;
    
   box-shadow: 10px 10px lightcyan;
   color: rgb(37, 36, 36);

    
}
.hhh{
    background-color:aliceblue;
    width: 500px;
   height: 100px;
   border: 1px solid rgb(211, 189, 189);
   padding: 10px;
   overflow: hidden;
   box-shadow: 10px 10px lightcyan;
   color: rgb(37, 36, 36);
    

}
.hhhh{
    background-color:aliceblue;
    width: 500px;
   height: 100px;
   border: 1px solid rgb(222, 210, 210);
   padding: 10px;
   box-shadow: 10px 10px lightcyan;
   color: rgb(37, 36, 36);

    
}
.btttn{
    font-size: large;
    font-weight: 200;
    height: 100px;
    width: 200px;
    margin-left: 400px;
    color: rgb(250, 241, 241);
    overflow: auto;
}



.fact{
    margin-top: 100px;
    
   

}
.factt{
    display:flex;
    
}


.icon{
   height: 100px;
   width: 100px;
   margin: 100px;
   border: 2px solid rgb(255, 115, 0);
   padding: 20px;
   border-radius: 10px;
  
  


}
.iconn{
    height: 100px;
   width: 100px;
   margin: 100px;
   border: 2px solid rgb(255, 115, 0);
   padding: 20px;
   border-radius: 10px;
   
   

}
.iconnn{
    height: 100px;
   width: 100px;
   margin: 100px;
   border: 2px solid rgb(255, 115, 0);
   padding: 20px;
   border-radius: 10px;

}
.iconnnn{
    height: 100px;
   width: 100px;
   margin: 100px;
   border: 2px solid rgb(255, 115, 0);
   padding: 20px;
   border-radius: 10px;
  

}






.omg{
    position: absolute;
    width: 500px;
    height: 200px;
    left: 789px;
    top: 3085px;
}

.sponsor{
    margin-top: 200px 20px 30px 10px;
    
   

}
.spn{
    display:flex;
  
}


.ok{
   height: 50px;
   width: 100px;
   margin: 100px;
  
   padding: 20px;
   border-radius: 10px;
  


}
.okk{
    height: 50px;
   width: 100px;
   margin: 100px;
  
   padding: 20px;
   border-radius: 10px;
   
   

}
.okkk{
    height: 50px;
   width: 100px;
   margin: 100px;
  
   padding: 20px;
   border-radius: 10px;

}
.okkkk{
    height: 50px;
   width: 100px;
   margin: 100px;
   
   padding: 20px;
   border-radius: 10px;
  

}

.okkkkk{
    height: 50px;
   width: 100px;
   margin: 100px;
   
   padding: 20px;
   border-radius: 10px;
  

}

.lala{
    background-color: blanchedalmond;
    position: absolute;
width: 2440px;
height: 50px;
left: 240px;
top: 3444px;
padding: 16px 32px;

}
.txt{
    padding: 16px 532px;
}










.buttton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    

  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  